@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {}

fieldset {
    border: none;
    margin: 20px 200px;
}

.bar {
    background-color: black;
    width: 100%;
}


.topHeader {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 350px;
    color: #ffffff;
    background-color: orangered;
}

.headerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

#addMarcacao {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: rgb(255, 125, 78);
    border: none;
    border-radius: 20px;
    padding: 8px 40px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    position: fixed;
    right: 24px;
    bottom: 24px;

    z-index: 1000;
    /* fica acima do formulário */
}

.addMarcacao-space {
    display: flex;
    justify-content: center;
}

#addMarcacao::after {
    sasa
}


#addMarcacao:hover {
    background-color: rgb(232, 62, 0);
}

#enviarTudo {
    cursor: pointer;
    color: #fff;
    background-color: #ff6831;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 8px 40px;
    transition: all 0.2s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
    align-items: end;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 0;
}

:disabled {
    background-color: rgb(222, 221, 221);
    border: 1px solid black;
    border-radius: 8px;
}

label {
    margin-left: 10px;
}

input,
select {
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    padding: 6px;
    margin: 0px 10px 10px 10px;
}


.inline {
    display: flex;
    gap: 12px;
    align-items: center;
    height: var(--h);
}

/* spans */
.span-12 {
    grid-column: span 12;
}

.span-9 {
    grid-column: span 9;
}

.span-8 {
    grid-column: span 8;
}

.span-6 {
    grid-column: span 6;
}

.span-4 {
    grid-column: span 4;
}

.span-3 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 2;
}


.hidden {
    display: none;
}

.obs {
    margin: 10px;

    textarea {
        resize: none;
        border: 1px solid black;
        border-radius: 8px;
        font-size: 15px;
        padding: 5px;
        outline: none;
    }
}


.latasUtilizadas {
    margin: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.116);
    padding-top: 10px;
}

.adicionarLata {
    margin: 20px 10px 10px 0px;
    border: #fff;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 128, 255);
    border: none;
    border-radius: 20px;
    padding: 8px 40px;
    transition: all 0.2s ease-in-out;
}

.divisao {
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.lataFields {
    display: flex;
    gap: 10px;
    align-items: center;

    .cod {
        display: flex;
        flex-direction: column;
    }

    .volume {
        display: flex;
        flex-direction: column;
    }
}

.remover {
    width: 10%;
    margin: 10px;
    border: #fff;
}

.remover:hover {
    background-color: rgb(224, 0, 0);
    color: #fff;

}

.lataItem {
    
    display: grid;
    grid-template-columns: 50px 1fr 1fr 180px;
    gap: 13px;
    align-items: center;
    margin-top: 10px;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
}

.lataItem .campo {
    display: flex;
    flex-direction: column;
}

.campo input,
.campo select {
  margin: 0;
  box-sizing: border-box;
}

#lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.numero {
    width: 30px;
    height: 30px; /* mesma altura do input */
    color: rgb(48, 48, 48);
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.removerLata {
    width: 30px;
    height: 30px;
    color: #ff00009c;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* responsivo */
@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .span-8,
    .span-9 {
        grid-column: span 6;
    }

    .span-6 {
        grid-column: span 6;
    }

    .span-4,
    .span-3,
    .span-2 {
        grid-column: span 6;
    }
}