@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
}


.topHeader {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 350px;
    color: #ffffff;
    background-color: orangered;
}

.headerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

#addMarcacao {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 20px;
    padding: 8px 40px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.addMarcacao-space {
    display: flex;
    justify-content: center;
}


#addMarcacao:hover {
    background-color: rgb(232, 62, 0);
}

#enviarTudo {
    cursor: pointer;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 8px 40px;
    transition: all 0.2s ease-in-out;
}

.grid{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  align-items: end;
}

.field{
  display:flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0;
}

:disabled {
    background-color: rgb(127, 127, 127);
    border: none;
    border-radius: 8px;
}

label {
    margin-left: 10px;
}

input, select {
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    padding: 6px;
    margin: 0px 10px 10px 10px;
}


.inline{
  display:flex;
  gap: 12px;
  align-items:center;
  height: var(--h);
}

/* spans */
.span-12{ grid-column: span 12; }
.span-9{ grid-column: span 9; }
.span-8{ grid-column: span 8; }
.span-6{ grid-column: span 6; }
.span-4{ grid-column: span 4; }
.span-3{ grid-column: span 3; }
.span-2{ grid-column: span 2; }


.remover{
    width: 10%;
    padding: 4px;
    border: 1px solid red;
    border-radius: 40px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

.remover:hover {
    background-color: rgb(255, 44, 44);
    color: #fff;
}

.remover:focus {
    box-shadow: red;
}

.actions {
    display: flex;
    align-items: center;
    
}

/* responsivo */
@media (max-width: 1000px){
  .grid{ grid-template-columns: repeat(6, 1fr); }
  .span-8,.span-9{ grid-column: span 6; }
  .span-6{ grid-column: span 6; }
  .span-4,.span-3,.span-2{ grid-column: span 6; }
}